* {
  margin: 0;
  padding: 0;
  font-family: Papyrus, fantasy;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/hut.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-content {
  margin-bottom: 120px;
  color: whitesmoke;
  text-align: center;
}

.header-content h2 {
  font-size: 4vmin;
}

.line {
  width: 150px;
  height: 4px;
  background: orange;
  margin: 10px auto;
}

.btn {
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*glow*/
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff3a00,
    #ff7100,
    orange,
    #ffc300,
    #ff3a00
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn:hover::before {
  opacity: 1;
}

.btn:active::after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
